*, *::before, *::after{
  margin: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
background-color: #EDC7B7;
}
.title{
  overflow: hidden;
  background-color: #040e1c;
}
.title{
  float: none;
  color: white;
  text-align: center;
}
.Navigasjon{
  overflow: hidden;
  background-color: #040e1c;
}


.Navigasjon a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 17px;
}

.Navigasjon a:hover {
  background-color: lightgrey;
  color: black;
}

.Navigasjon a.Visittkort {
  background-color: springgreen;
  color: black;
}


.visitkort{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#alle{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: -10px;
}


.bilder{
  border-radius: 50%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}


.karenanne{
  display:grid;
  width: 100%;
  background-color:#BAB2B5;
  max-width: 600px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}
.erlingaleks{
  display:grid;
  width: 100%;
  background-color: #BAB2B5;
  max-width: 600px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

.navn{
  grid-row: 1/4;
  grid-column: 3/5;
}

.tekst{
  grid-column: 1/4;
  grid-row: 2/6;
}
.link:link{
  text-decoration: none;
  color: black;
}

.link:hover{
  background: linear-gradient(#A8A7A7, #CC527A, #E8175D, #474747, #363636);
  background-size: 5px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
  transform: scale(1.04);
  opacity: 1;
}




.link:active{
}

