*, *::before, *::after{
  margin: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #EDC7B7;
}


/*Visittkort*/
.visitkort{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alle{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: -10px;
}


.bilder{
  border-radius: 50%;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

.karenanne{
  display:grid;
  width: 100%;
  background-color:#BAB2B5;
  max-width: 600px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

.erlingaleks{
  display:grid;
  width: 100%;
  background-color: #BAB2B5;
  max-width: 600px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
}

.navn{
  grid-row: 1/4;
  grid-column: 3/5;
}
/*Visittkort*/


/*Links-Visittkort*/
.tekst{
  grid-column: 1/4;
  grid-row: 2/6;
}

.link:link{
  text-decoration: none;
  color: black;
}

.link:hover{
  background: linear-gradient(#A8A7A7, #CC527A, #E8175D, #474747, #363636);
  background-size: 5px;
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
  transform: scale(1.04);
  opacity: 1;
}

.link:active{
}
/*Links-Visittkort*/

#knapp:link, a:visited
{
  background-color: #BAB2B5;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
/*Knapp, navbar*/
#knapp1:link, a:visited
{
  background-color: #BAB2B5;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
#knapp2:link, a:visited
{
  background-color: #BAB2B5;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}
#knapp1:hover, a:active {
  background-color: Dimgray;
}
#knapp2:hover, a:active {
  background-color: Dimgray;
}