*{
  margin: 20px
}
body {
  background-color: aqua;
}

.myname{
  background-color: aqua;
}
td{

top: 80px;
  right: 40px;
  left: 40px;
  width: 200px;
  height: 100px;
}
.visitkort{
  position:relative;
  top: 20px;
  left: 400px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: space-around;
}