*, *::before, *::after{
  margin: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
background-color: #EDC7B7;
}

.visitkort{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.erlingaleks, .karenanne{
  box-shadow: 0 3px 15px rgb(0 0 0 / 0.3);
  max-width: 600px;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 335px;
  position: relative;
  left: 275px;
  background-color: #BAB2B5;
}



.navn{
  position: relative;
  top: -180px;
  left: 90px;
}
.tekst{
  position: relative;
  left: -210px;
}
.bilder{
  border-radius: 50%;
}
.karenanne{
  display: flex;
  float: left;
  width: 100%;

}
.erlingaleks{
  display: flex;
  float: left;
  width: 100%;
  justify-content: space-around;
}


