*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDC7B7;
}
/*Generelt for hele nettsiden*/

.visitkort {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#knapp:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
/*Knapp, navbar*/
#knapp1:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#knapp2:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#knapp1:hover, a:active {
    background-color: Dimgray;
}
#knapp2:hover, a:active {
    background-color: Dimgray;
}
/*Tables*/

.table{
    width: 70%;
    margin-bottom: 5%;
}
.ranges{
    width: 100%;
}
.right{
    text-align: right;
}
.headerforhow{
    margin-bottom: 5%;
}
input{
    width:60%;
    height:30%;
    margin-bottom: 5%;
}
/*Tables*/

table.center {
    background-color: #BAB2B5;
    margin-left: auto;
    margin-right: auto;
}
*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #EDC7B7;
}
/*Generelt for hele nettsiden*/

.visitkort {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#knapp:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
/*Knapp, navbar*/
#knapp1:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#knapp2:link, a:visited
{
    background-color: #BAB2B5;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#knapp1:hover, a:active {
    background-color: Dimgray;
}
#knapp2:hover, a:active {
    background-color: Dimgray;
}
/*Tables*/

.table{
    width: 70%;
    margin-bottom: 5%;
}
.ranges{
    width: 100%;
}
.right{
    text-align: right;
}
.headerforhow{
    margin-bottom: 5%;
}
input{
    width:60%;
    height:30%;
    margin-bottom: 5%;
}
#message{
    margin-bottom:5%;
}
/*Tables*/


